@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

@font-pt: 'PT Sans', sans-serif;
@font-open: 'Open Sans', sans-serif;
@font-roboto: 'Roboto Condensed', sans-serif;

@container-padding: 20px;

@color-green: #70b629;

@import "mixing.less";
@import "topnav.less";

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #010101;
}

html {
	font-size: 16px;
	min-height: 100%;
	line-height: 1.375;
	position: relative;
	font-family: @font-open;
	background: #d8eff5 url("../img/bg__top.jpg") top center no-repeat;
}

body {
	margin-bottom: 170px;

}

.container {
    min-width: 1000px;
	max-width: 1230px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-left: @container-padding;
	padding-right: @container-padding;
}


// Header -------------

.header {
	height: 160px;

	.container {
		height: 100%;
	}

	.header__logo {
		top: 15px;
		left: @container-padding;
		width: 238px;
		height: 125px;
		cursor: pointer;
		position: absolute;
		background: url("../img/header__logo.png") 0 0 no-repeat;
	}

	.header__nav {
		top: 64px;
		right: (@container-padding - 15);
		position: absolute;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
		}

		a {
			height: 32px;
			color: #1a1a18;
			padding: 1px 15px;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font: 600 16px/30px @font-open;

			&:hover {
				color: #fff;
				background: #70b629;
			}
		}
	}
}

// Slider -------------

.slider {
	margin-bottom: 100px;

	.container {
		overflow: hidden;
	}

	ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
	}

	li {
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
	}

	.slide__text {
		left: 0;
		bottom: 0;
		color: #fff;
		width: 440px;
		position: absolute;
		font: 18px/22px @font-open;

		.slide__title {
			height: 60px;
			text-align: center;
			margin-bottom: 25px;
			background: @color-green;
			text-transform: uppercase;
			font: 700 30px/60px @font-open;
		}

		p {
			margin-left: 25px;
			margin-bottom: 40px;
		}
	}
}

// Index Page -------------

.direction {
	margin-bottom: 69px;

	.container {
		overflow: hidden;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 0 -23px;
	}

	li {
		float: left;
		width: 33.333%;
		padding: 0 23px 20px 23px;
	}

	a {
		color: #fff;
		width: 100%;
		display: block;
		font-size: 16px;
		line-height: 22px;
		position: relative;
		text-decoration: none;

		&:before {
			left: 0;
			right: 0;
			bottom: -19px;
			content: "";
			height: 19px;
			position: absolute;
			background: url("../img/direction__shadow.png") top center no-repeat;
		}
	}

	.direction__text {
		top: 0;
		right: 0;
		width: 60%;
		height: 100%;
		padding: 20px 20px;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
	}
}

.green-block {
	height: 160px;
	padding-top: 55px;
	text-align: center;
	background: url("../img/banner__bg.jpg") top center no-repeat;
}

.result-block {
	padding-top: 90px;

	ul {
		padding: 0;
		list-style: none;
		margin: -45px 0 70px 0;
	}

	li {
		float: left;
		width: 33.33%;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

		.result__icon {
			height: 260px;
			margin-bottom: 10px;
		}

		&.item1 {
			padding-right: 60px;
			.result__icon {
				background: url("../img/result__icon1.png") center bottom no-repeat;
			}

			span {
				display: block;
			}
		}
		&.item2 {
			.result__icon {
				background: url("../img/result__icon2.png") center bottom no-repeat;
			}
		}
		&.item3 {
			.result__icon {
				background: url("../img/result__icon3.png") center bottom no-repeat;
			}
		}
	}

	.order-box {
		height: 200px;
		padding-left: 28%;
		position: relative;
		margin-bottom: 90px;
		background: url("../img/banner__bg2.jpg") top left no-repeat;

		&:before {
			left: 0;
			right: 0;
			bottom: -17px;
			content: "";
			height: 17px;
			position: absolute;
			background: url("../img/banner__shadow.png") top center no-repeat;
		}

		.order-text {
			width: 45%;
			height: 100%;
			color: #010101;
			display: table;

			span {
				width: 100%;
				height: 100%;
				display: table-cell;
				vertical-align: middle;
			}
		}

		.btn {
			top: 75px;
			right: 2%;
			position: absolute;

			&:active {
				top: 76px;
			}
		}
	}
}

.events-block {
	margin-bottom: 70px;

	.events__inner {
		position: relative;
	}

	.container {
		overflow: hidden;
	}

	ul {
		padding: 0;
		margin: 0 -13px;
		list-style: none;

		li {
			float: left;
			width: 25%;
			padding: 0 13px;
		}
	}
}

.application {
	height: 725px;
	padding-top: 55px;
	background: url("../img/application__bg.jpg") top center no-repeat;

	.application__inner {
		position: relative;
	}

	.application__form {
		float: right;
		width: 600px;
		height: 481px;
		padding: 35px;
		background: url("../img/application__form.png") 0 0 no-repeat;

		textarea {
			height: 120px;
		}

		.btn {
			margin-top: 20px;
		}
	}

	.application__text {
		top: 0;
		left: 0;
		padding-right: 4%;
		right: 600px;
		color: #010101;
		position: absolute;

		.application__title {
			margin-bottom: 40px;
			font: 700 34px/34px @font-pt;
		}

		p {
			margin-bottom: 25px;
		}
	}
}

.question-block {
	background: #fff;
	padding: 40px 0 45px 0;

	.title__large {
		margin-bottom: 40px;
	}

	.quest {
		outline: none;
		padding: 14px 0;
		font-size: 20px;
		line-height: 20px;
		border-bottom: 1px solid #c7dde3;

		.quest-item {
			color: #70b629;
			outline: none;
			cursor: pointer;
			position: relative;
			padding-left: 33px;
			text-decoration: none;
			display: inline-block;

			&:before {
				top: 0;
				left: 0;
				width: 18px;
				height: 18px;
				content: "";
				position: absolute;
				background: url("../img/icon-quest.png") 0 0 no-repeat;
			}

			&:hover {
				color: #d9a503;
				text-decoration: none;

				&:before {
					background-position: 0 -18px;
				}
			}
		}
	}

	.answer {
		color: #010101;
		padding: 16px 0;
		font-size: 14px;
		line-height: 18px;
	}
}

.success-block {
	padding: 50px 0 70px 0;
	background: url("../img/success__bg.jpg") top center no-repeat;

	.title__large {
		color: #fff;
	}

	.video__inner {
		position: relative;
	}

	.video__slider {
		width: 94%;
		padding: 0;
		margin: 0 auto;
		list-style: none;

		li {
			width: 50%;
			float: left;
			padding: 0 35px;
		}

		.video {
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}


// Main page ---------

.main {
	padding-top: 70px;
	margin-bottom: 50px;

	.content {
		min-height: 1px;
		margin-left: 365px;
		height: 500px;
	}

	.sidebar {
		float: left;
		width: 300px;
		height: 500px;
		min-height: 1px;
	}
}


// Event -------------

.event {
	width: 100%;
	padding: 10px;
	display: block;
	cursor: pointer;
	background: #fff;
	position: relative;
	text-decoration: none;
	margin-bottom: 15px;
	border-bottom: 2px solid #c7d7dc;
	.border-radius(6px);

	&:after {
		right: 0;
		width: 50%;
		bottom: -12px;
		content: "";
		height: 12px;
		position: absolute;
		background: url("../img/event__shadow.png") 100% 0  no-repeat;
	}

	&:before {
		left: 0;
		width: 50%;
		bottom: -12px;
		content: "";
		height: 12px;
		position: absolute;
		background: url("../img/event__shadow.png") 0 0 no-repeat;
	}

	&:hover {

		&:after {
			background-position: 100% -15px;
		}

		&:before {
			background-position: 0 -15px;
		}
	}

	.event__text {
		height: 93px;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		padding: 20px 30px 0 30px;

		.event__date {
			color: #70b629;
			display: block;
			font-weight: 700;
		}

		.event__name {
			color: #000;
			font-weight: 400;
			margin-bottom: 0;
		}
	}
}

.nav {
	top: 50%;
	width: 15px;
	height: 28px;
	cursor: pointer;
	margin-top: -14px;
	position: absolute;
	background: url("../img/slider__nav.png") 0 0 no-repeat;

	&.video-nav-prev {
		left: 0;
		background-position: -30px 0;

		&:hover {
			background-position: -30px -28px;
		}
	}

	&.video-nav-next {
		right: 0;
		background-position: -45px 0;

		&:hover {
			background-position: -45px -28px;
		}
	}

	&.event-nav-prev {
		margin-top: -28px;
		left: -@container-padding;
		background-position: 0 0;

		&:hover {
			background-position: 0 -28px;
		}
	}

	&.event-nav-next {
		margin-top: -28px;
		right: -@container-padding;
		background-position: -15px 0;

		&:hover {
			background-position: -15px -28px;
		}
	}

	&.slider-nav-prev {
		left: 0;
		background-position: 0 0;

		&:hover {
			background-position: 0 -28px;
		}
	}

	&.slider-nav-next {
		right: 0;
		background-position: -15px 0;

		&:hover {
			background-position: -15px -28px;
		}
	}
}


// Footer -------------

.footer {
	bottom: 0;
	width: 100%;
	height: 170px;
	background: #fff;
	position: absolute;

	.footer__logo {
		top: 44px;
		left: @container-padding;
		position: absolute;
		font-family: @font-pt;

		span {
			display: block;
		}

		.item1 {
			color: #1a1a18;
			font-size: 14px;
			line-height: 14px;
			font-weight: 700;
		}

		.item2 {
			font-size: 29px;
			font-weight: 700;
			line-height: 29px;
			color: @color-green;
			margin-bottom: 16px;
		}

		.item3 {
			color: #010101;
			font-size: 11px;
			line-height: 11px;
			font-family: @font-open;
		}
	}

	.footer__title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 16px;
		font-weight: 600;
		color: @color-green;
	}

	.footer__nav {
		padding-top: 40px;
		margin-left: 285px;

		ul {
			width: 525px;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
			width: 33.33%;
			font-size: 14px;
			line-height: 15px;
			font-weight: 600;
			margin-bottom: 15px;
		}

		a {
			color: #1a1a18;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: #000;
			}
		}
	}

	.footer__social {
		top: 40px;
		right: @container-padding;
		position: absolute;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
			width: 40px;
			height: 40px;
			overflow: hidden;
			margin-right: 10px;
			.border-radius(3px);

			a {
				width: 100%;
				height: 100%;
				cursor: pointer;
				display: inline-block;
				background: transparent;
			}

			&.vk {
				background: #4d75a3 url("../img/icon-social.png") 0 0 no-repeat;

				&:hover {
					background-color: #3a618f;
				}
			}
			&.ok {
				background: #e67e17 url("../img/icon-social.png") -50px 0 no-repeat;

				&:hover {
					background-color: #d77b1f;
				}
			}
			&.fb {
				background: #3c5b9a url("../img/icon-social.png") -100px 0 no-repeat;

				&:hover {
					background-color: #2b4882;
				}
			}
			&.youtube {
				background: #df2925 url("../img/icon-social.png") -150px 0 no-repeat;

				&:hover {
					background-color: #bb1512;
				}
			}
		}
	}
}


// Button -------------

.btn {
	color: #fff;
	border: none;
	outline: none;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-family: @font-roboto;

	&:active {
		top: 1px;
		position: relative;
	}
}

.btn-yellow {
	height: 50px;
	width: 290px;
	font-size: 20px;
	padding: 10px 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: url("../img/buttons.png") 0 0 no-repeat;

	&:hover {
		background-position: 0 -50px;
	}
}

.btn-green {
	height: 50px;
	width: 360px;
	font-size: 20px;
	padding: 10px 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: url("../img/buttons.png") 0 -100px no-repeat;

	&:hover {
		background-position: 0 -150px;
	}
}

.btn-green-md {
	height: 42px;
	width: 300px;
	font-size: 16px;
	line-height: 20px;
	padding: 11px 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: url("../img/buttons.png") 0 -200px no-repeat;

	&:hover {
		background-position: 0 -242px;
	}
}


.btn-red {
	font-size: 16px;
	padding: 4px 30px;
	border: 1px solid #990139;
	.box-shadow(inset 0px 1px 0px 0px rgba(222, 82, 82, 1));
	.border-radius(3px);

	background: #e31e1e; /* Old browsers */
	background: -moz-linear-gradient(top,  #e31e1e 0%, #ab0606 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e31e1e), color-stop(100%,#ab0606)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e31e1e 0%,#ab0606 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e31e1e 0%,#ab0606 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e31e1e 0%,#ab0606 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e31e1e 0%,#ab0606 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e31e1e', endColorstr='#ab0606',GradientType=0 ); /* IE6-9 */

	&:hover {
		background: #d21e1e; /* Old browsers */
		background: -moz-linear-gradient(top,  #d21e1e 0%, #6d0606 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d21e1e), color-stop(100%,#6d0606)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d21e1e 0%,#6d0606 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d21e1e 0%,#6d0606 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d21e1e 0%,#6d0606 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #d21e1e 0%,#6d0606 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d21e1e', endColorstr='#6d0606',GradientType=0 ); /* IE6-9 */

	}
}


// Form ---------------

.form {

	label {
		height: 40px;
		color: #1a1a18;
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;
	}

	select,
	textarea,
	input[type="text"] {
		width: 100%;
		display: block;
		outline: none;
		color: #1a1a18;
		font-size: 14px;
		background: #fff;
		line-height: 20px;
		padding: 8px 18px;
		border: 2px solid #dbdbdb;
	}

	select:focus,
	textarea:focus,
	input[type="text"]:focus {
		border-color: #999999;
	}

	select {
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		-ms-appearance: none;
		appearance: none!important;
		background: #fff url("../img/select-arrow.png") 96% 50% no-repeat;

	}

	select::-ms-expand {
		display: none;
	}

	option {
		background: #fff;

		&:hover {
			background-color: #999999;
		}
	}

	.form-row {
		margin: 0 -15px 10px -15px;

		.form-col {
			width: 50%;
			float: left;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}


/* Typography
   ========================= */

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	color: #1a1a18;
	font-weight: 700;
	font-family: @font-pt;
}

h2 {

	&.title__large {
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

a {

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.text-green {
	color: @color-green;
}


